@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --FONT_SIZE: 14px;
  --BORDER_GAP: 6px;
  --BORDER_RADIUS: 3px;
  --UNIT: 48px;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}
